DB = mongodb+srv://thetommoway2004:wantitthatway@dashboard.4qkbbil.mongodb.net/ReactAuthDb?retryWrites=true&w=majority&appName=dashboard
PORT = 9000
JWT_KEY = wantitthatway
FRONTEND_URL = http://localhost:5173